.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    width: 100%;
    max-width: 1100px;
    height: 7vh;
    top:0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.mobile-nav-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        background-color: #0A49AF;
        z-index: 999999;
    }

    .nav-menu {
        display: none;
    }

    .mobile-nav-menu {
        display: flex;
        width: 10%;
        justify-content: center;
        align-items: center;
        font-size: 1.55em;
        transform: rotate(90deg);
    }
}